#calculator{
width:300px;
height:501px;
background-color:#000000;
border:3px solid black;
border-radius:0px;}
#total{
width:300px;
height:200px;
background-color:#FFFFFF;

}

.btn7
{position:absolute;

top:212px;
left:11px;
width:75px;
height:75px;
color:white;
background-color:#000000;
}
.btn8
{width:75px;
height:75px;
position:absolute;
top:212px;
left:86px;
color:white;
background-color:#000000;
}
.btn9
{width:75px;
height:75px;
position:absolute;
top:212px;
left:161px;
color:white;
background-color:#000000;
}
.btn10
{width:75px;
height:75px;
position:absolute;
top:437px;
left:11px;


color:white;
background-color:#000000;
}
.btn0
{width:75px;
height:75px;
color:white;
position:absolute;
top:437px;
left:86px;

background-color:#000000;
}
.btn1
{width:75px;
height:75px;
position:absolute;

top:362px;
left:11px;

color:white;
background-color:#000000;
}
.btn2
{position:absolute;
top:362px;
left:86px;

width:75px;
height:75px;
color:white;
background-color:#000000;
}
.btn3
{width:75px;
height:75px;
position:absolute;
top:362px;
left:161px;

color:white;
background-color:#000000;
}
.btn4
{width:75px;
position:absolute;

top:287px;
left:11px;

height:75px;
color:white;
background-color:#000000;
}
.btn5
{width:75px;
position:absolute;
top:287px;
left:86px;

height:75px;
color:white;
background-color:#000000;
}
.btn6
{width:75px;
position:absolute;
top:287px;
left:161px;

height:75px;
color:white;
background-color:#000000;
}
.btn11
{width:75px;
height:75px;
color:white;
position:absolute;
top:437px;
left:161px;

background-color:#000000;
}
.btn13
{width:75px;
height:50px;
color:white;
background-color:#000000;
position:absolute;
top:212px;
left:236px;
}
.btn14
{width:75px;
height:50px;
color:white;
background-color:#000000;
position:absolute;
top:262px;
left:236px;
}
.btn15
{width:75px;

height:50px;
color:white;
background-color:#000000;
position:absolute;
top:312px;
left:236px;
}
.btn16
{width:75px;
height:50px;
color:white;
background-color:#000000;
position:absolute;
top:362px;
left:236px;
}
.btn17
{width:75px;
height:50px;
color:white;
background-color:#000000;
position:absolute;
top:412px;
left:236px;
}
.btn18
{
width:75px;
height:50px;
color:white;
background-color:#000000;
position:absolute;
top:462px;
left:236px;}
